<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
<link rel="stylesheet" href="/assets/css/formularios.css">

<app-sidebar></app-sidebar>

<section class="inicio-perfil">

  <div id="contenedor-perfil">

    <div id="cuerpo-perfil"> 

      <div class="cuerpo" style="border-color: #e77634;">
        <h1>Perfil del usuario</h1>
          <div class="columns">
            <div class="field column">
              <label class="label">Nombre</label>
              <div class="control">
                <input class="input" type="text" [(ngModel)]="usuario.nombre" disabled>
              </div>
            </div>
            <div class="field column">
              <label class="label">Apellido paterno</label>
              <div class="control">
                <input class="input" type="text" [(ngModel)]="usuario.apellido_pat" disabled>
              </div>
            </div> 
            <div class="field column">
              <label class="label">Apellido materno</label>
              <div class="control">
                <input class="input" type="text" [(ngModel)]="usuario.apellido_mat" disabled>
              </div>
            </div>
          </div>
          <div class="columns">
            
            <div class="field column">
                <label class="label">Correo electrónico</label>
                <div class=" control has-icons-left">
                  <input class="input" type="text" [(ngModel)]="usuario.email" disabled>
                  <span class="icon is-small is-left">
                    <i class="fa-solid fa-envelope"></i>
                  </span>
                </div>
          </div>
            
        </div>
      </div>
      &nbsp;
      <div class="cuerpo" style="border-color: #e77634;">
            <h1>Cambiar contraseña</h1>
            <div class="field ">
                <label class="label">Contraseña actual</label>
                <div class="control">
                    <input class="input" type="password" [(ngModel)]="usuario.password_ant">
                </div>
            </div>
            
            <div class="field">
                <label class="label">Nueva contraseña</label>
                <div class="control">
                    <input class="input" type="password" [(ngModel)]="usuario.password">
                </div>
            </div>
            <h3>Nota: Debes incluir al menos una letra mayúscula, una minúscula, un número y un símbolo</h3>
            <div class="field columns">
              <div class="column">
                    <button class="button is-warning is-light" (click)="cambiarContra()">
                    <span>
                        <i class="fa-solid fa-pencil"></i>
                        Modificar
                    </span>
                    </button>
                </div> 
            </div>
        </div>
    </div>
</div>


</section>
