<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<section class="inicio-menu">

    <div id="inicio-menus">

        <div class="header fixed-top">

            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer"/>

            <div class="bg">
            
                <nav>
                    <div id="logoI">
                        <img src="./assets/images/sosefi_logo2.png" id="logoI">
                    </div>
                    <input type="checkbox" id="click">
                    <ul>
                        <li> <a href="/inicio">INICIO</a> </li>
                        <li> <a href="#nosotros">NOSOTROS</a> </li>
                        <li> <a href="/serviciosForm">SERVICIOS</a> </li>
                        <li> <a href="/asesorias">ASESORÍA</a> </li>
                        <li> <a class="active" href="/login">INGRESAR</a> </li>
                    </ul>
                </nav>
            
            </div>
                

            </div>

    </div>

</section>


