<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<section class="inicio-menu">

    <div id="inicio-menus">

        <div class="header fixed-top">

            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer"/>

            <div class="bg">
            
                <nav>
                    <div id="logoI">
                        <img src="./assets/images/sosefi_logo2.png" id="logoI">
                    </div>
                    <input type="checkbox" id="click">
                    <ul>
                        <li> <a href="/dashboard">INICIO</a> </li>
                        <li> <a href="/perfil">MI PERFIL</a> </li>

                        <li class="apartado"> <a>SERVICIOS</a> 

                        <div class="opciones">
                          <li><a href="" routerLink="/servInac">INACTIVOS</a></li>
                        </div>

                        <div class="opciones">
                        <li><a href="" routerLink="/activos">ACTIVOS</a></li>
                        </div>

                        </li>

                        <li class="apartado"> <a>ASESORÍAS</a> 

                          <div class="opciones">
                            <li><a href="" routerLink="/asesoria/registradas">PENDIENTES</a></li>
                          </div>
  
                          </li>

                          <li class="apartado"> <a>REPORTES</a> 

                            <div class="opciones">
                              <li><a href="" routerLink="/reporte/ventas">VENTAS</a></li>
                            </div>

                            <div class="opciones">
                              <li><a href="" routerLink="/reporte/instalaciones">INSTALACIONES</a></li>
                            </div>
    
                            </li>

                        <li> <a class="active" (click)="cerrarSesion()">SALIR</a> </li>
                    </ul>
                </nav>
            
            </div>
                

            </div>

    </div>

</section>

