<app-encabezado></app-encabezado>

<section class="inicio" id="home">
    <app-carrusel>
        
    </app-carrusel>
</section>

<br><br><br><br>

    <div id="seguridad">

    <p class="heading3">"Seguridad avanzada para un mundo seguro"</p>

    </div>

<br><br><br><br>

<br>
<section class="services" id="servicios">
     <!--<h1 class="heading">Servicios que brindamos</h1>--> 
    <div class="box-container container">
        <div class="box">
            <img src="/assets/images/instalacion.png" alt="">
            <h3>Instalación</h3>
            <p>La implementación de tecnologia enfocada a la seguridad ya sea en tu hogar o negocio.</p>
            <br>
            <p><a href="/serviciosForm">Quiero una instalación...</a></p>
        </div>
        <div class="box">
            <img src="/assets/images/mantenimiento.png" alt="">
            <h3>Mantenimiento</h3>
            <p>Equipos que llevan tiempo operando necesitan de procesos para preservar el tiempo de vida.</p>
            <br>
            <p><a href="/serviciosForm">Quiero un mantenimiento...</a></p>
        </div>
        <div class="box">
            <img src="/assets/images/asesoría.png" alt="">
            <h3>Asesoría</h3>
            <p>Antes de adquirir el equipo, necesitas conocer las opciones que hay en el mercado.</p>
            <br>
            <p><a href="/asesorias">Quiero una asesoría...</a></p>
        </div>

    </div>
</section>
<section class="about" id="nosotros">
    <br><br><br><br>
    &nbsp;
    &nbsp;
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 image">
                <img src="/assets/images/nosotros_sosefi.jpg" class="w-100 mb-5 mb-md-0">
            </div>
            <div class="col-md-6 content">
                <!--<span>Nosotros</span>-->
                <h3>Nuestra experiencia respalda su seguridad</h3>
                <p style="color: black;">
                    SOSEFI, S.A. DE C.V., es una empresa dedicada a la asesoría de equipos, instalación, 
                    mantenimiento de sistemas integrales de seguridad. Con el paso de los años, hemos 
                    ido agregando nuevos productos para poder brindar una protección integral, incluyendo 
                    nuevas tecnologías y metodologías, que permitan acceso inmediato a los clientes ante 
                    cualquier situación de emergencia para que puedan tomar acción oportuna, así como para 
                    poder brindar seguridad y tranquilidad las 24 horas del día los 365 días del año. Brindando 
                    sus servicios desde el 2014, ha estado operando bajo la gestión de un equipo solido.
                </p>
                <!--<a href="/inicio/#mapa" class="link-btn">Da click aquí</a>-->
            </div>
        </div>
    </div>
</section>
<br><br><br><br>
<!-- services section ends -->
<!-- process section starts  -->
<section class="process">
    <h1 class="heading">Empresas con las que hemos trabajado</h1>
    <br>
    <div class="box-container container">
        <div class="box">
            <img src="/assets/images/farmacias.png" alt="">
            <h3>Farmacias Guadalajara</h3>    
        </div>
        <div class="box">
            <img src="/assets/images/pepsico.png" alt="">
            <h3>Pepsico</h3>
        </div>
        <div class="box">
            <img src="/assets/images/udg.png" alt="">
            <h3>Universidad de Guadalajara</h3>
        </div>
    </div>
    <br><br><br><br>
</section>

<section>
    <h1 class="heading">Asesoría para dispositivos</h1>
    <br>
    <div class="row">
        <div class="col-12 text-center mb-2">
        </div>
    </div>
    <div class="row mx-1 portfolio-container">

        <div class="col-lg-4 col-md-6 col-sm-12 p-0 portfolio-item first">
            <div class="position-relative overflow-hidden">
                <div class="portfolio-img d-flex align-items-center justify-content-center">
                    
                    <!-- ABAJO VA UNA IMAGEN -->
                    <img class="img-fluid" src="/assets/images/camaras-videovigilancia.JPG" alt="">
                </div>
                <div class="portfolio-text bg-secondary d-flex flex-column align-items-center justify-content-center">
                    <h4 class="text-white mb-4">Camaras de Videovigilancia</h4>
                </div>
            </div>
        </div>
        
        <div class="col-lg-4 col-md-6 col-sm-12 p-0 portfolio-item first">
            <div class="position-relative overflow-hidden">
                <div class="portfolio-img d-flex align-items-center justify-content-center">
                    
                    <!-- ABAJO VA UNA IMAGEN -->
                    <img class="img-fluid" src="/assets/images/detectores-presencia.png" alt="">
                </div>
                <div class="portfolio-text bg-secondary d-flex flex-column align-items-center justify-content-center">
                    <h4 class="text-white mb-4">Detectores de Presencia</h4>
                    <div class="d-flex align-items-center justify-content-center">
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 p-0 portfolio-item first">
            <div class="position-relative overflow-hidden">
                <div class="portfolio-img d-flex align-items-center justify-content-center">
                    
                    <!-- ABAJO VA UNA IMAGEN -->
                    <img class="img-fluid" src="../../assets/images/cerraduras-seguridad.jpg" alt="">
                </div>
                <div class="portfolio-text bg-secondary d-flex flex-column align-items-center justify-content-center">
                    <h4 class="text-white mb-4">Cerraduras de Seguridad</h4>
                    <div class="d-flex align-items-center justify-content-center">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mx-1 portfolio-container">
        <div class="col-lg-4 col-md-6 col-sm-12 p-0 portfolio-item first">
            <div class="position-relative overflow-hidden">
                <div class="portfolio-img d-flex align-items-center justify-content-center">
                    
                    <!-- ABAJO VA UNA IMAGEN -->
                    <img class="img-fluid" src="/assets/images/cercas-electricas.jpeg" alt="">
                </div>
                <div class="portfolio-text bg-secondary d-flex flex-column align-items-center justify-content-center">
                    <h4 class="text-white mb-4">Cercas Electricas</h4>
                    <div class="d-flex align-items-center justify-content-center">
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 p-0 portfolio-item first">
            <div class="position-relative overflow-hidden">
                <div class="portfolio-img d-flex align-items-center justify-content-center">
                    
                    <!-- ABAJO VA UNA IMAGEN -->
                    <img class="img-fluid" src="/assets/images/videoporteros.jpg" alt="">
                </div>
                <div class="portfolio-text bg-secondary d-flex flex-column align-items-center justify-content-center">
                    <h4 class="text-white mb-4">Videoporteros</h4>
                    <div class="d-flex align-items-center justify-content-center">
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 p-0 portfolio-item first">
            <div class="position-relative overflow-hidden" >
                <div class="portfolio-img d-flex align-items-center justify-content-center">
                    
                    <!-- ABAJO VA UNA IMAGEN -->
                    <img class="img-fluid" src="/assets/images/control-acceso.jpg">
                </div>
                <div class="portfolio-text bg-secondary d-flex flex-column align-items-center justify-content-center">
                    <h4 class="text-white mb-4">Controles de Acceso</h4>
                    <div class="d-flex align-items-center justify-content-center">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br>
</section>

<!--<section class="reviews" id="reviews">
    <h1 class="heading"> Clientes satisfechos </h1>
    <div class="box-container container">
        <div class="box">
            <img src="/assets/images/pic-1.jpg" alt="">
            <p>Super recomiendo a interdental por la eficacia de su trabajo, sin duda los mejores de todo
                Guadalajara.</p>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <h3>Mary</h3>
            <span>Clientes satisfechos</span>
        </div>

        <div class="box">
            <img src="/assets/images/pic-2.png" alt="">
            <p>Tenia ya tiempo buscando donde tratar mi imagen dental hasta que encontré a InterDental, por lo cual
                estoy super contenta con los resultados de mi nueva sonrisa.</p>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <h3>Daniela</h3>
            <span>Clientes satisfechos</span>
        </div>

        <div class="box">
            <img src="/assets/images/pic-3.jpg" alt="">
            <p>Me encanto el resultado final en mis dientes, ademas de la excelente atención por parte del personal
                los super recomiendo.</p>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <h3>Emma</h3>
            <span>Clientes satisfechos</span>
        </div>
    </div>
</section>-->

<div id="mapa">
    <section id="google-map">
        <h1 class="heading">¡Ven a visitarnos!</h1>
        <p class="heading2">Nos encanta recibir a nuestros clientes, así que ven en cualquier momento durante las horas de oficina.</p>
        <br>
        <!-- How to change your own map point
            1. Go to Google Maps
            2. Click on your location point
            3. Click "Share" and choose "Embed map" tab
            4. Copy only URL and paste it within the src="" field below
        -->
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d933.6202303005971!2d-103.35911773045028!3d20.609245254086673!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8428b28280eba111%3A0x1e4d0ea059a87ac2!2sTierra%20de%20Tules%20180-12%2C%20Terralta%2C%2044990%20Guadalajara%2C%20Jal.!5e0!3m2!1ses-419!2smx!4v1731272083601!5m2!1ses-419!2smx" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
    </section>

<app-leyenda></app-leyenda>

</div>
<script>
    let menu = document.querySelector('#menu-btn');
    let navbar = document.querySelector('.header .nav');
    let header = document.querySelector('.header');

    menu.onclick = () =>{
        menu.classList.toggle('fa-times');
        navbar.classList.toggle('active');
    }

    window.onscroll = () =>{
        menu.classList.remove('fa-times');
        navbar.classList.remove('active');

        if(window.scrollY > 0){
            header.classList.add('active');
        }else{
            header.classList.remove('active');
        }
    }
</script>